body {
  background-image: url("https://media.giphy.com/media/xT9IgIqup6NRcbVI8U/giphy.gif");
  background-size: cover;
  color: rgb(218, 141, 78);
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.btn {
  /* background-color: white; */
  padding: 6px 12px;
  color: rgb(218, 141, 78);
  border: solid rgb(218, 141, 78) 2px;
  font-family: inherit;
  cursor: pointer;
  font-size: 15px;
  text-shadow: 1px 1px black;
  border-radius: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.underline {
  border-bottom: 4px solid white;
}

#main-logo {
  width: 300px;
}
#hero {
  padding: 10px 0 40px;
}
#link {
  text-shadow: 0px;
  color: rgb(218, 141, 78);
}
.text {
  text-shadow: 2px 1px black;
}
